<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('fupdate')}}">News Cloud</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% if page=='wordcloud' %}
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main')}}">WordCloud<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('headline')}}">Headlines</a>
            </li>
        </ul>
        {% elif page=='headline' %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main')}}">WordCloud</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('headline')}}">Headlines<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main')}}">WordCloud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('headline')}}">Headlines</a>
                </li>
                <!--
                <li class="nav-item active">
                    <a class="nav-link" href="#">Keyword: {{word}}<span class="sr-only">(current)</span></a>
                </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" type="search" name="word" id="word" placeholder="Keyword" aria-label="Keyword">
                <select class="form-control mr-sm-2" name="paper" id="paper">
                    {% for news in all_news %}
                        {% if news==paper %}
                            <option value="{{news}}" selected>{{news}}</option>
                        {% else %}
                            <option value="{{news}}">{{news}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        {% endif %}
    </div>
</nav>
