<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">News Cloud</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if page=='index' %}
            <a class="nav-item nav-link active" href="{{url_for('main')}}">Home<span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{url_for('wordcloud')}}">WordCloud</a> {% elif page=='wordcloud' %}
            <a class="nav-item nav-link" href="{{url_for('main')}}">Home</a>
            <a class="nav-item nav-link active" href="{{url_for('wordcloud')}}">WordCloud<span
                    class="sr-only">(current)</span></a> {% endif %}
        </div>
    </div>
</nav>